
.box {
	position:relative;
	z-index:2;
	width:256px;
	height:190px;
	border-radius: 15px;
	background: red;
	-moz-box-shadow: 1px 1px 4px rgba(0,0,0,.01); /* Firefox */
	-webkit-box-shadow: 0 0 4px rgba(0,0,0,.5); /* Safari 和 Chrome */
	box-shadow: 0 0 4px rgba(0,0,0,.5); /* Opera 10.5+, 以及使用了IE-CSS3的IE浏览器 */
	color:#a6813c;
	text-indent:2em;
	font-size:2em;
	font-family:'华文新魏','华文行楷','微软雅黑';
	behavior: url(../css/PIE.htc);
}

.htc{
	width:256px;
	height:190px;
	border: 1px solid #999;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.ooo {
	-pie-background: linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent) 0 0 / 50px #0ae;
	background-color: #0ae;
	background-image: -webkit-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
	background-image: -moz-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
	background-image: linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
	background-size: 50px 50px;
	box-shadow: 0 0 4px rgba(0,0,0,.5);
	behavior: url(../css/PIE.htc);
}